<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIVAPOS 3 :: UNAUTORIZED</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/adminlte.min.css">
</head>

<body class="hold-transition lockscreen">
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="/views/home/index"><b>Anda tidak memiliki akses</b></a>
        </div>

        <div class="help-block text-center">
            Anda tidak memiliki ijin untuk mengakses halaman ini<BR><BR>
        </div>

            <a href="/views/home/index" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" style="width:100%">Login Aplikasi</a>

    </div>

    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>