<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SYGMA POS :: WARINGIN INDAH :: KASIR POS</title>
<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/assets/css/adminlte.min.css">
<link rel="stylesheet" href="/assets/w2ui/w2ui.min.css" />
<link rel="stylesheet" href="/assets/css/global.css" />
<style>

    .w2field {
        width: 65px;
        font-weight: bold;

    }
    .full-width{
        width: 100%;
    }
    .w2field2 {
        text-align: right;
        font-weight: bold;

    }

    td {
        padding: 100%
    }
    .table-sm td,
    .table-sm th {
        padding-left: 0px !important;
        padding-right: 2px !important;
        padding-top: 0px !important;
        padding-top: 1px !important;
    }
    .text-right {
        text-align: right;
    }
</style>
<div class="wrapper">
    <div class="content-header" style="padding:10px;">
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="grid" style="width: 100%; min-height: 300px;overflow:hidden"></div>
                    <div class="row">
                        <div class="col-sm-4">
                            <table class="table-sm text-sm" style="margin-top:20px">
                                <tr>
                                    <td>Supplier</td>
                                    <td><input class="w2field " type="text" id="supid1"></td>
                                    <td colspan="4"><input id="supplier1" class="w2field " type="text" style="width:100%"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input class="w2field " type="text" id="supid2"></td>
                                    <td colspan="4"><input id="supplier2" class="w2field " type="text" style="width:100%"></td>

                                </tr>
                                <tr>
                                    <td>Kategori</td>
                                    <td><input class="w2field " type="text" id="catid"></td>
                                    <td colspan="4"><input id="category" class="w2field " type="text" style="width:100%"></td>

                                </tr>
                                <tr>
                                    <td>Gudang</td>
                                    <td><input class="w2field " type="text" id="stock"></td>
                                    <td><input class="w2field " type="text" id="stock1"></td>
                                    <td><input class="w2field " type="text" id="stock2"></td>
                                    <td><input class="w2field " type="text" id="stock3"></td>
                                    <td><input class="w2field " type="text" id="stock4"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input class="w2field " type="text" id="stock5"></td>
                                    <td><input class="w2field " type="text" id="stock6"></td>
                                    <td><input class="w2field " type="text" id="stock7"></td>
                                    <td><input class="w2field " type="text" id="stock8"></td>
                                    <td><input class="w2field " type="text" id="stock9"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input class="w2field " type="text" id="stock10"></td>
                                    <td><input class="w2field " type="text" id="stock11"></td>
                                    <td><input class="w2field " type="text" id="stock12"></td>
                                    <td><input class="w2field " type="text" id="stock13"></td>
                                    <td><input class="w2field " type="text" id="stock14"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-3" >
                            <table class="table-sm text-sm" style="margin-top:20px">
                                <tr>
                                    <td style="width:80px!important">HPP</td>
                                    <td><input class="w2field2 " type="text" id="cost"></td>
                                </tr>
                                <tr>
                                    <td>Profit</td>
                                    <td><input class="w2field2 " type="text" id="profit" style="width:140px"> %</td>
                                </tr>
                                <tr>
                                    <td>H.Beli1</td>
                                    <td><input class="w2field2 " type="text" id="purch1"></td>
                                </tr>
                                <tr>
                                    <td>H.Beli2</td>
                                    <td><input class="w2field2 " type="text" id="purch2"></td>
                                </tr>
                                <tr>
                                    <td>Stok Min</td>
                                    <td><input class="w2field2 " type="text" id="qmin"></td>
                                </tr>
                                <tr>
                                    <td>Stok Max</td>
                                    <td><input class="w2field2 " type="text" id="qmax"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-5">
                            <table class="table-sm text-sm" style="margin-top:20px">
                                <tr>
                                    <td style="width:80px" valign="top">Note</td>
                                    <td colspan="8">
                                        <input class="w2field " type="text" style="width:100%;" id="note">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:80px">Key Sat</td>
                                    <td colspan="2"><input class="w2field " type="text" style="width:100%;color:red" id="keypack1"></td>
                                    <td><input class="w2field full-width" type="text" id="ikeypack1"></td>
                                    <td colspan="2"><input class="w2field " type="text" style="width:100%;color:blue" id="pack1"></td>
                                    <td><input class="w2field full-width" type="text" id="ipack1"></td>
                                    <td><input class="w2field full-width" type="text"></td>
                                    <td><input class="w2field full-width" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Qty Ret/Gr</td>
                                    <td><input class="w2field full-width text-right" type="text" id="qty1"></td>
                                    <td><input class="w2field full-width text-right" type="text" id="qty2"></td>
                                    <td><input class="w2field full-width text-right" type="text" id="qty3"></td>
                                    <td><input class="w2field full-width text-right" type="text" id="qty4"></td>
                                    <td><input class="w2field full-width text-right" type="text" id="qtyg1"></td>
                                    <td><input class="w2field full-width text-right" type="text" id="qtyg2"></td>
                                    <td><input class="w2field full-width text-right" type="text" id="qtyg3"></td>
                                    <td><input class="w2field full-width text-right" type="text" id="qtyg4"></td>
                                </tr>
                                <tr>
                                    <td>HJ.Retail</td>
                                    <td colspan="2"><input class="w2field full-width text-right" type="text" id="price1"></td>
                                    <td colspan="2"><input class="w2field full-width text-right" type="text" id="price2"></td>
                                    <td colspan="2"><input class="w2field full-width text-right" type="text" id="price3"></td>
                                    <td colspan="2"><input class="w2field full-width text-right" type="text" id="price4"></td>
                                </tr>
                                <tr>
                                    <td>HJ.Grosir</td>
                                    <td colspan="2"><input class="w2field full-width text-right" type="text" id="priceg1"></td>
                                    <td colspan="2"><input class="w2field full-width text-right" type="text" id="priceg2"></td>
                                    <td colspan="2"><input class="w2field full-width text-right" type="text" id="priceg3"></td>
                                    <td colspan="2"><input class="w2field full-width text-right" type="text" id="priceg4"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>

<script>
    window.$ = window.jQuery = require('jquery');
</script>

<script src="/assets/js/localdb.min.js"></script>
<script src="/assets/w2ui/w2ui.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/adminlte.js"></script>
<script src="/helper/barang/stok.js"></script>